  <%= render :partial => "/side_bar" %>

  <div class="large-1 columns"><div></div></div>
    <div class="large-8 columns">
      <div id="poem-panel">
        <div id="poem-style" class="poem-background"></div>
          <div class="row">
            <div class="large-12 columns">
              <div id="poem-title" style="color: black;">Clues</div>
                <div id="poem-body" style="color: black;">
                  <p></p>
                  Clue 1: The treasure is in the Rocky Mountains
                  <br><i>Source: The Thrill of the Chase (book)</i>
                  <br>
                  <br>Clue 2: The treasure is north of Sante Fe, New Mexico
                  <br><i>Source: The Thrill of the Chase (book)</i>
                  <br>
                  <br>Clue 2: The treasure is above 5000 feet.
                  <br><i>Source: The Today Show (airdate)</i>
                  <br>
                  <br>Clue 3: The treasure is not in a graveyard
                  <br><i>Source: The Today Show (airdate)</i>
                  <br>
                  <br>Clue 4: The treasure is not in Nevada
                  <br><i>Source: personal correspondence with FF</i>
                  <br>
                </div>

            </div>
          </div>

      </div>
    </div>

</div>