      <div class="row">
        <div class="large-3 columns">
          <div id="poem-panel">
            <div id="poem-style" class="poem-background"></div>
              <div class="row">
                <div class="12-large columns">
                  <div id="poem-title">The Hunt</div>
                    <div id="poem-body">
                      <p></p>
                      <a href="clues">Clues</a>
                      <br>Clues from Today Show
                      <br>Facts
                      <br>The Book
                      <br>Forrest Fenn
                      <br>Gallery
                      <br>Blogs
                      <br>FF's blog
                      <hr>
                      <p></p>
                    </div>

                </div>
              </div>

          </div>
        </div>

        <div class="large-9 columns">
          Body text
        </div>