<div class="row">
  <div class="large-3 columns">
    <div id="poem-panel">
      <div id="poem-style" class="poem-background"></div>
        <div class="row">
          <div class="12-large columns">
            <div id="poem-title">The Hunt</div>
              <div id="poem-body">
                <p></p>
                <a href="clues">Clues</a>
                <br><a href="facts">Facts</a>
                <br><a href="book">The Book</a>
                <br><a href="forrestfenn">Forrest Fenn</a>
                <br><a href="blogs">Blogs</a>
                <br>Gallery
                <hr>
                <p></p>
              </div>

          </div>
        </div>

    </div>
  </div>